Source: python-minideblib
Priority: optional
Section: devel
Maintainer: Alexandr Kanevskiy <packages@bih.org>
Build-Depends-Indep: debhelper (>= 4.1.25), python-setuptools, python-central
Standards-Version: 3.7.2
XS-Python-Version: >= 2.3

Package: python-minideblib
Architecture: all
Depends: ${python:Depends}
XB-Python-Version: >= 2.3
Description: Small python library of classes, that simplify
 tasks for handling Debian source and binary packages
